@import "tailwindcss";

@keyframes character-drop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-character-drop {
    animation: character-drop 0.8s ease-out;
}